*{
    padding: 0px;
    margin: 0px;
}
@font-face {
    font-family: 'Inter';
    src: url('../css/font/Inter/Inter-Italic-VariableFont_opsz\,wght.ttf') format('woff2'),
         url('../css/font/Inter/Inter-VariableFont_opsz\,wght.ttf') format('woff'),
         url('../css/font/Inter/static/Inter_28pt-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
body{
    font-family: 'Inter', sans-serif;
    position: relative;
    background-color: #202020;
    color: white;
}

main{
    max-width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10%;
    padding: 50px 40px;
}
#text{
    background: linear-gradient(to right, #5a5a5a, #dfdfdf);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}
.cadre-welcome{
    width: 95%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30%;
}
main .welcome{
    display: flex;
    flex-direction: column;
    width: 370px;
}
main .produits{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    width: 430px;
    height: 300px;
}
.produits .box{
    width: 200px;
    height: 130px;
}
.box img{
    width: 100%;
    max-width: 100%;
}
#btn{
    padding: 5px 20px;
    margin-top: 20px;
    width: 70px;
    border-radius: 10px;
    background-color: #575656;
    text-decoration: none;
    color: white;
}
main .services, main .temoignage{
    margin: 20px auto;
    margin-bottom: 140px;
    width: 80%;
    height: 80px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}
.services .item, .temoignage .item{
    width: 240px;
    height: 100%;
    display: flex;
    padding: 10px 10px;
}
.item p{
    font-size: 12px;
}
.item img{
    width: 70px;
    height: 70px;
}
main .aleatoire{
    width: 90%;
    height: 350px;
    padding: 10px 10px;
    background-color: #5756565b;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
     
}
.aleatoire .text{
    width: 400px;
    height: 200px;
    padding: 20px 20px;
}
.aleatoire .image{
    width: 450px;
    height: 300px;
    margin: 20px 0 20px 20px;
    margin-right: 20px;
}
.image img{
    width: 100%;
    max-width: 100%;
}