<footer>
  <section>
    <h1>Adresses</h1>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eligendi
      consequatur, sunt, ex corrupti ad assumenda asperiores, quos placeat autem
      laboriosam porro ullam reprehenderit animi eos vitae at nam? Minus,
      veniam.
    </p>
    <h1>Nos Contacts</h1>
    <p>
      rombaultETS@.com
      <br />
      +243 99000000
    </p>
  </section>
  <section>
    <h1>Liens Rapides</h1>
    <p>
      <a href="index.html">Accueil</a><br />
      <a href="./html/nouveaute.html">Nouveauté</a><br />
      <a href="./html/boutique.html">Boutique</a><br />
    </p>
  </section>
  <section style="width: 100%; text-align: center">
    <span style="color: grey">Copyright2025</span>
  </section>
</footer>
