<header>
  <nav>
    <div class="logo">
      <h1>LOGO</h1>
    </div>
    <div class="links">
      <a href="#Accueil">Accueil</a>
      <a href="/nouveaute">Nouveauté</a>
      <a href="/boutique">Boutique</a>
      <a href="">A propos</a>
      <a href="" id="btn">Panier</a>
    </div>
  </nav>
</header>
