<header>
    <div class="logo-container">
        <img src="/images/logo-rkt.png" alt="Logo Établissements RKT">
        <h1>Établissements Rombault KALOMBO TSHINKENKE</h1>
    </div>
    <div class="contact-info">
        <p>Téléphones: +243 XX XXX XXXX, +243 XX XXX XXXX</p>
        <p>Email: contact@etablissements-rkt.com</p>
    </div>
</header>