<nav>
    <button class="menu-toggle">Menu</button>
    <ul>
        <li><a href="/">Accueil</a></li>
        <li><a href="/products">Nos produits</a></li>
        <li><a href="/services">Nos services</a></li>
        <li><a href="/properties">Nos propriétés</a></li>
        <li><a href="/contact">Contact</a></li>
    </ul>
</nav>