footer{
    max-width: 100%;
    padding: 25px 80px;
    background-color: #d9d9d927;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 50px;
    justify-content: center;
}
footer section{
    width: 350px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 20px;
}
section a{
    color: white;
    text-decoration: none;
}