<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>RTK</title>
    <link rel="stylesheet" href="/css/index.css" />
    <link rel="stylesheet" href="/css/navbar.css" />
    <link rel="stylesheet" href="/css/footer.css" />
  </head>
  <body>
    <header>
      <nav>
        <div class="logo">
          <h1>LOGO</h1>
        </div>
        <div class="links">
          <a href="/">Accueil</a>
          <a href="/nouveaute">Nouveauté</a>
          <a href="/boutique">Boutique</a>
          <a href="#">A propos</a>
          <a href="#" id="btn">Panier</a>
        </div>
      </nav>
    </header>
    <main>
      <div class="cadre-welcome">
        <div class="welcome">
          <h1 style="font-size: 100px" id="text">Rombault</h1>
          <h2 style="font-size: 45px" id="text">KALOMBO TSHINKENKE</h2>
          <P>Bienvenu dans le site de vente de l'entréprise RTK</P>
          <a href="" id="btn">Catalogue</a>
        </div>
        <div class="produits">
          <div class="box">
            <img
              src="/images/large-steel-factory-warehouse_1127-3285.jpg"
              alt=""
            />
          </div>
          <div class="box">
            <img
              src="/images/smoked-sprat-green-onion-cutting-board-smoked-fish-top-view.jpg"
              alt=""
            />
          </div>
          <div class="box">
            <img
              src="/images/large-steel-factory-warehouse_1127-3285.jpg"
              alt=""
            />
          </div>
          <div class="box">
            <img
              src="/images/large-steel-factory-warehouse_1127-3285.jpg"
              alt=""
            />
          </div>
        </div>
      </div>
      <div class="services">
        <div class="item">
          <img src="/images/construction.png" alt="" />
          <p>
            Matériaux & Quincaillerie : Ciment, carreaux, fers, plomberie,
            tôles, menuiserie métallique.
          </p>
        </div>
        <div class="item">
          <img src="/images/diamond.png" alt="" />
          <p>
            Pierres Précieuses : Achat et vente de diamant artisanal et or brut,
            pour particuliers et investisseurs.
          </p>
        </div>
        <div class="item">
          <img src="/images/ventevoiture.png" alt="" />
          <p>
            Véhicules & Pièces : Voitures, motos, poids lourds, pièces détachées
            sur commande.
          </p>
        </div>
        <div class="item">
          <img src="/images/carburant.png" alt="" />
          <p>
            Carburants & Logistique : Vente de mazout, essence, location
            véhicules, transport, stockage.
          </p>
        </div>
        <div class="item">
          <img src="/images/immobilier.png" alt="" />
          <p>
            Immobilier : Maisons, appartements, dépôts à vendre ou louer dans
            différentes zones.
          </p>
        </div>
        <div class="item">
          <img src="/images/aliment.png" alt="" />
          <p>
            Consommation : Vivres frais, farine, riz, huile, savons,
            désinfectants, tout pour le
          </p>
        </div>
      </div>
      <div class="aleatoire">
        <div class="text">
          <h1>Nouvel Arrivage de Voitures</h1>
          <p>
            Découvrez notre tout nouvel arrivage de voitures haut de gamme
            directement de Dubaï ! Un large choix de véhicules luxueux, des
            modèles récents et sophistiqués à des prix compétitifs.
          </p>
          <a href="">Commander</a>
        </div>
        <div class="image">
          <img src="/images/raw-meat-table_23-2150857912.webp" alt="" />
        </div>
      </div>
      <div class="temoignage">
        <div class="item">
          <p>
            Je suis vraiment impressionné par la qualité des véhicules ! Les
            voitures importées de Dubaï sont tout simplement magnifiques, et les
            prix sont raisonnables pour ce niveau de luxe. Je vais certainement
            jeter un œil à ces modèles.
          </p>
        </div>
        <div class="item">
          <p>
            Un service impeccable et une sélection incroyable de voitures. J'ai
            trouvé exactement ce que je cherchais dans leur arrivage. Je
            recommande vivement à tous ceux qui cherchent un véhicule de qualité
            !
          </p>
        </div>
        <div class="item">
          <p>
            J'ai récemment acheté une voiture de leur arrivage de Dubaï, et je
            suis plus que satisfait. Tout était en parfait état et la livraison
            a été rapide. Très professionnel ! Merci pour l’excellent service.
          </p>
        </div>
      </div>
    </main>
    <footer>
      <section>
        <h1>Adresses</h1>
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eligendi
          consequatur, sunt, ex corrupti ad assumenda asperiores, quos placeat
          autem laboriosam porro ullam reprehenderit animi eos vitae at nam?
          Minus, veniam.
        </p>
        <h1>Nos Contacts</h1>
        <p>
          rombaultETS@.com
          <br />
          +243 99000000
        </p>
      </section>
      <section>
        <h1>Liens Rapides</h1>
        <p>
          <a href="/">Accueil</a><br />
          <a href="/nouveaute">Nouveauté</a><br />
          <a href="/boutique">Boutique</a><br />
        </p>
      </section>
      <section style="width: 100%; text-align: center">
        <span style="color: grey">Copyright2025</span>
      </section>
    </footer>
  </body>
</html>
